html
    head
        title Single Item
    body
        h1 Item details :
        p
            h2='Following is the details of the item with Id : ' + arr_item.id
            ul
                li='userId : ' + arr_item.userId
                li='title : ' + arr_item.title
                li='body : ' + arr_item.body