<html>
    <head>
        <title>Single Item</title>
    </head>
    <body>
        <h1>Item details :</h1>
        <p>
            <h2>Following is the details of the item with Id : {{arr_item.id}}</h2>
            <ul>
                <li>userId : {{arr_item.userId}}</li>
                <li>title : {{arr_item.title}}</li>
                <li>body : {{arr_item.body}}</li>
            </ul>
        </p>
    </body>
</html>