<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Login</h2>
                <hr>
                {{#if loginFailed}}
                <div class="alert alert-danger">
                    Oops! You have entered a wrong username and password.
                </div>
                {{/if}}
                <form action="/login" method="POST">
                    <label for="username">
                        Username:
                        <input class="form-control" type="text" name="username" id="username">
                    </label>
                    <label for="password">
                        Password:
                        <input class="form-control" type="password" name="password" id="password">
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>